In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **DATA ANALYSIS PYTHON PROJECT -- BLINKIT**

In [ ]:
df = pd.read_excel("BlinkIT Grocery Data.xlsx")
df.head()

In [10]:
df.tail()

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Sales,Rating
8518,low fat,NCT53,Health and Hygiene,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.000000,NaN,164.5526,4.0
8519,low fat,FDN09,Snack Foods,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.034706,NaN,241.6828,4.0
8520,low fat,DRE13,Soft Drinks,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.027571,NaN,86.6198,4.0
8521,reg,FDT50,Dairy,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.107715,NaN,97.8752,4.0
8522,reg,FDM58,Snack Foods,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.000000,NaN,112.2544,4.0

In [11]:
df.shape

(8523, 12)

In [13]:
df.columns

Index(['Item Fat Content', 'Item Identifier', 'Item Type',
       'Outlet Establishment Year', 'Outlet Identifier',
       'Outlet Location Type', 'Outlet Size', 'Outlet Type', 'Item Visibility',
       'Item Weight', 'Sales', 'Rating'],
      dtype='object')

In [14]:
df.dtypes

Item Fat Content              object
Item Identifier               object
Item Type                     object
Outlet Establishment Year      int64
Outlet Identifier             object
Outlet Location Type          object
Outlet Size                   object
Outlet Type                   object
Item Visibility              float64
Item Weight                  float64
Sales                        float64
Rating                       float64
dtype: object

In [16]:
print(df['Item Fat Content'].unique())

['Regular' 'Low Fat' 'low fat' 'LF' 'reg']

In [17]:
df['Item Fat Content'] = df['Item Fat Content'].replace({'LF': 'Low Fat',
                                                          'low fat' : 'Low Fat',
                                                           'reg' : 'Regular'
                                                           })

In [18]:
df['Item Fat Content'].unique()

array(['Regular', 'Low Fat'], dtype=object)

In [30]:
total_sales = df['Sales'].sum()
avg_sales = df['Sales'].mean()
num_items_sold = df['Item Identifier'].count()
avg_rating = df['Rating'].mean()

In [32]:
print(f"Total Sales: {total_sales:,.0f}")
print(f"Average Sales:{avg_sales:,.0f}")
print(f"Number Of Items Sold: {num_items_sold:,.0f}")
print(f"Average Rating:{avg_rating:,.1f}")

Total Sales: 1,201,681
Average Sales:141
Number Of Items Sold: 8,523
Average Rating:4.0